/* Lucas: Firefox 57 Tweaks on 4k monitor @ 200% scale: */

/* Make address bar just a tad smaller */
/* Address bar font */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Menus font */
menu, menubar, menubutton, menulist, checkbox, .splitmenu-menuitem {
font-size: 95% !important;}

menuitem {font-size: 95% !important;}

/* Awesombar for post-Firefox48 changes */
#PopupAutoCompleteRichResult .ac-separator, .ac-url, .ac-action {
  font-size: 95% !important;
}
#PopupAutoCompleteRichResult .ac-title {
  font-size: 95% !important;
}

/* Address bar font */
#urlbar {
font-size: 95% !important; }

/* For Firefox 68? Address bar suggestions */
#urlbar-results {
  font-size: 80% !important;
}

/* searchbar font: for Firefox 69 */
#searchbar {
  font-size: 100% !important;
}


/* Window font */
window, page, wizard, prefwindow {
font-size:  95% !important; }

/* Dialog font */
dialog {
font-size: 95% !important; }

/* Tabs Toolbar font */
#TabsToolbar{
font-size: 95% !important;}

/* Tab text font */
.tab-text {
font-size: 95% !important; }

/* Textbox font */
textbox {
font-size: 95% !important; }

/* Toolbar font */
toolbar {
font-size: 95% !important; }

/* Personal Titlebar Title font */
#personal-titlebar{
font-size: 95% !important;}

/* Status bar font */
#status-bar {
font-size: 95% !important; }

/* Sidebars Font */
#sidebar-box *,
#bookmarksPanel *, #bookmarks-view *,
#history-panel *, #historyTree, sidebarheader {
font-size: 95% !important; }

/* Trees font */
tree, treechildren {
font-size: 95% !important; }

/* Buttons font */
button {
font-size: 95% !important; }

/* Preferences font */
#BrowserPreferences {
font-size: 95% !important; }

/* Make tab padding smaller to fit more in. */
.tab-content[pinned] {padding-left: 9px !important; padding-right: 9px !important;}
.tab-content:not([pinned]) {padding-left: 5px !important; padding-right: 5px !important;}
